*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    font-size:62.5%;

    --bg-page:#121214;

    --base-color: 194;
    --color-primary:hsl(var(--base-color), 100%, 63%);
    --bg-primary-light:hsla(var(--base-color), 100%, 63%, 0.13);

    --fc-timer:#FFFFFF;
    --fs-timer:8.8rem;
    --ff-timer:'Roboto', sans-serif;
}
body{
    background-color:var(--bg-page);
    font-family: var(--ff-timer);
    
    min-height: 100vh;
    display:grid;


}
main{
    justify-self: center;
    align-self:end ;

    
}
footer{
    justify-self: end;
    align-self: end;
    padding: clamp(2rem, 2rem + 2vw ,4.0rem);
}
button{
    background-color: transparent;

    border: none;
    cursor: pointer;
}
.play svg path, .pause svg path, .sound-on svg path{
    fill: var(--color-primary);
}
button svg{
    width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}
/* Tirando com CSS os botoes que irão voltar com o JS*/

.hide{
    display: none;
}

#timer{
    color: var(--fc-timer);
    font-size:clamp(4rem, 4rem + 10vw, 8.8rem);

    display: flex;

    margin-bottom:1.6rem;
}
main #controles{
    background: var(--bg-primary-light);
    
    padding: 2.2rem 3.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap:3.2rem;

    width:clamp(10rem, 10rem + 30vw, 22.8rem);
    height: clamp(8rem, 5rem + 10vw, 10.8);
    border-radius: 9999px;
}
